.position-cart {
    top: 75%;
    left: 30%;
    color: #e9a758;
    z-index: 10;
    font-size: 40px;
}

.position-buy {
    top: 75%;
    left: 60%;
    color: success;
    z-index: 10;
    font-size: 40px;
}

.position-cart i:hover,
.position-buy i:hover {
    color: orangered;
}

.wid50 {
    width: 50%;
}

.list-unstyled .media {
    margin-top: 10px;
}

.list-unstyled .media:last-child {
    margin-bottom: 10px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #000;
    border-color: #dee2e6 #dee2e6 #fff;
}

.view-img {
    margin-right: 20px;
}

.mz-hint-message {
    display: inline-block;
    background: rgba(49, 51, 61, 0.7);
    border-radius: 2em;
    padding: .7em 1.1em;
    display: none;
}

a[data-zoom-id] img,
.mz-thumb img {
    padding-bottom: 4px;
    border: 0;
    width: 30px;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
}

.mz-hint img {
    max-width: 225px;
    position: relative;
    top: 0px;
    left: 0px;
    max-height: 225px;
    width: 205px!important;
    height: 205px;
}


/* chọn síze */

#config-holder .d-row {
    overflow: HIDDEN;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

#config-holder .d-row .name {
    float: left;
    width: 90px;
}

#config-holder .d-row .value {
    /* margin-left: 75px; */
    width: calc(100% - 90px);
}

.attr-value {
    float: left;
    margin: 0 8px 8px 0;
    border: solid 1px #00000017;
    padding: 1px 10px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    height: 36px;
    overflow: hidden;
    color: #333;
    min-width: 4rem;
    text-align: center;
    line-height: 36px;
}

.attr-value.selected-attr-value {
    border-color: #ff8109 !important;
    border-width: 2px !important;
}

.selected-attr-value {
    border-color: #ff8109 !important;
    border-width: 2px !important;
}

#list-cart img {
    height: 85px;
}

#list-cart .row {
    margin-top: 8px;
}

.attr-value-cart {
    /* float: left; */
    margin: 0 8px 8px 0;
    border: solid 1px #00000017;
    padding: 1px 10px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    height: 36px;
    overflow: hidden;
    color: #333;
    min-width: 4rem;
    text-align: center;
    line-height: 36px;
}

.btn-cart {
    font-size: 12px;
    padding: 4px 10px 7px 10px;
    border-radius: 8px;
    color: #fff;
}

.bgOrange {
    background: orange;
}

.bgRed {
    background: red;
}

.bgSuccess {
    background: #58dc3e;
}

.mt10 {
    margin-top: 10px;
}