.header {
    background: #000;
    padding: 20px 0;
}

.header .form_search {
    border: 0;
    background: #e6e6e6;
    width: 100%;
    height: 46px;
    line-height: 46px;
    padding-left: 13px;
    outline: none;
    border-radius: 5px;
}

.listProductSearch {
    position: absolute;
    width: 570px;
    /* height: 200px; */
    top: 50px;
    left: 0;
    background: #373d4d;
    border-radius: 4px;
    z-index: 20;
}

#list-cart {
    padding-bottom: 50px;
}

b.line-through {
    text-decoration: line-through;
}

.postion-relative {
    position: relative;
}

.postion-absolute {
    position: absolute;
}

.header .header-button_submit {
    border: 0;
    font-size: 24px;
    position: absolute;
    right: -2px;
    outline: none;
    top: 0;
    bottom: 0;
    background: #464c62;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    padding: 0 22px;
}

.header-contact-cart {
    display: flex;
    align-items: center;
}

.header-contact-cart a {
    font-size: 18px;
    padding-top: 10px;
    height: 100%;
    color: #fff;
    text-align: center;
}

.header-contact-cart a:hover {
    color: #000;
    background: #fff;
}

.header-contact-cart a.action {
    width: 40%;
}

.header-contact-cart a.cart {
    width: 20%;
}

#navbar {
    background: #373d4d;
}

.global-nav {
    font-size: 18px;
    background: #373d4d;
}

.global-nav .container {
    overflow: visible !important;
}

.ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*
.global-nav .item:first-child {
    padding-left: 0;
} */

.global-nav .item {
    color: #211f22;
    font-weight: 500;
    padding: 14px 7px 11px 15px;
    position: relative;
    display: inline-block;
}

.global-nav .item a {
    color: #fff;
    text-transform: uppercase;
}

.sub-category {
    position: absolute;
    background: #373d4d;
    z-index: 99;
    width: 230px;
    display: none;
    border: solid 1px #d6d6d6;
    top: 52px;
    left: 0;
}

nav.global-nav ul .item::after {
    content: '';
    position: absolute;
    height: 19px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-left: 1px solid #2c313e;
    border-right: 1px solid #4b515f;
}

.global-nav .item {
    color: #fff;
    text-transform: uppercase;
}

.global-nav .item:hover>a {
    color: #ff8109;
}

.global-nav .item:hover>i {
    border-color: #ff8109;
}

i.angle-down {
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg) translateY(-5px);
    transform-origin: top;
}

.global-nav .item:hover .sub-category {
    display: block;
}

.sub-category a {
    display: block;
    text-transform: none !important;
    font-weight: normal;
    font-size: 15px;
    padding: 6px 10px;
}

.sub-category a:hover {
    background: #ddd;
    color: #ff8109;
}


/* item áo */

.represent-shirt.list_home .item:nth-child(5n+1) {
    margin-left: 20px;
    clear: inherit;
}

.represent-shirt .item:nth-child(5n+1) {
    margin-left: 0;
    clear: both;
}

.represent-shirt.list_home .item {
    float: left;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 275px;
}

.represent-shirt.list_home .item:nth-child(4n+1) {
    margin-left: 0;
    clear: both;
}

.represent-shirt .item .image {
    overflow: hidden;
    position: relative;
}

.represent-shirt .item .image,
.represent-shoes .item .image {
    background: #fff;
}

.represent-shirt .item img {
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
}

.item:hover .p-img img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.item .p-img img {
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.article .item .name,
.article .item .price {
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
}

.represent-shirt .item .name {
    font-size: 14px;
    margin: 8px 0 1px;
}

.article .item .name {
    color: #161616;
}

.article .item .price {
    color: #fe0036;
    font-weight: bold;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}

.header-contact-cart .dropdown-menu a {
    text-align: left;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .175);
}

.item .p-img img {
    width: 275px;
    height: 275px;
}

.product-detail img {
    height: 200px;
}

.media img {
    height: 75px;
}

.app-figure {
    text-align: center;
}