.footer_area {
    background-color: #fff;
    border-top: 2px solid #e5e5e5;
    padding: 100px 0 50px;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.footer_widget_menu a {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-weight: 600;
}

.footer_widget_menu a:hover {
    margin-left: 5px;
}

.line,
.line-mtb15 {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 30px 0;
}